
nav{   
   justify-content: center;
   width: 117%;
    max-height: 15vh;
    font-size: x-large;
    font-weight: bolder;
    margin-top: 1%;
    margin-bottom: 5%;
    background: rgb(0,0,0);
background: -moz-linear-gradient(328deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(7,62,241,1) 30%, rgba(7,62,241,1) 30%, rgba(7,62,241,1) 39%, rgba(82,161,33,1) 39%, rgba(82,161,33,1) 49%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(328deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(7,62,241,1) 30%, rgba(7,62,241,1) 30%, rgba(7,62,241,1) 39%, rgba(82,161,33,1) 39%, rgba(82,161,33,1) 49%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 100%);
background: linear-gradient(328deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(7,62,241,1) 30%, rgba(8,62,241,1) 30%, rgba(7,62,241,1) 39%, rgba(82,161,33,1) 39%, rgba(82,161,33,1) 49%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
margin-left: -9%;
}

.logo{
    width: 150px;
    
}

.navbar-toggler{
   background-color: white;
color: white;
}

.nav{  
   background: rgb(0,0,0);
   background: -moz-linear-gradient(310deg, rgba(0,0,0,1) 28%, rgba(7,62,241,1) 28%, rgba(7,62,241,1) 33%, rgba(82,161,33,1) 33%, rgba(82,161,33,1) 38%, rgba(0,0,0,1) 38%, rgba(0,0,0,1) 85%, rgba(255,255,255,1) 85%);
   background: -webkit-linear-gradient(310deg, rgba(0,0,0,1) 28%, rgba(7,62,241,1) 28%, rgba(7,62,241,1) 33%, rgba(82,161,33,1) 33%, rgba(82,161,33,1) 38%, rgba(0,0,0,1) 38%, rgba(0,0,0,1) 85%, rgba(255,255,255,1) 85%);
   background: linear-gradient(310deg, rgba(0,0,0,1) 28%, rgba(7,62,241,1) 28%, rgba(7,62,241,1) 33%, rgba(82,161,33,1) 33%, rgba(82,161,33,1) 38%, rgba(0,0,0,1) 38%, rgba(0,0,0,1) 87%, rgba(255,255,255,1) 87%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
    width: 150%;
    margin-top: -10px;
    margin-left: 0%;
}

.nav-link{
    color: white;
}


@media (max-width: 720px){
 .navbar-brand{
    width: 60%;
 }   

 nav{
   
   background-color: azure;
    font-size: 1rem;
    height: 10px;
    margin-bottom: 12rem;
 }

.nav{
   background: rgb(0,0,0);
   background: -moz-linear-gradient(310deg, rgba(0,0,0,1) 28%, rgba(7,62,241,1) 28%, rgba(7,62,241,1) 33%, rgba(82,161,33,1) 33%, rgba(82,161,33,1) 38%, rgba(0,0,0,1) 38%, rgba(0,0,0,1) 65%, rgba(255,255,255,1) 65%);
   background: -webkit-linear-gradient(310deg, rgba(0,0,0,1) 28%, rgba(7,62,241,1) 28%, rgba(7,62,241,1) 33%, rgba(82,161,33,1) 33%, rgba(82,161,33,1) 38%, rgba(0,0,0,1) 38%, rgba(0,0,0,1) 65%, rgba(255,255,255,1) 65%);
   background: linear-gradient(310deg, rgba(0,0,0,1) 28%, rgba(7,62,241,1) 28%, rgba(7,62,241,1) 33%, rgba(82,161,33,1) 33%, rgba(82,161,33,1) 38%, rgba(0,0,0,1) 38%, rgba(0,0,0,1) 70%, rgba(255,255,255,1) 70%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

 .logo{
    width: 100px;
   margin-left: -45%;
 }
}
